### Api Settings
API_HOST="0.0.0.0"
API_PORT=99
API_SSL_CERTFILE=""
API_SSL_KEYFILE=""
API_KEY="your_api_key_here"

### DataBase Settings
DATABASE_URL="user:pass@tcp(127.0.0.1:3306)/marzban"

### Admin Settings
ADMIN_ID=1

### Xray Settings
XRAY_CONFIG_PATH="/var/lib/marzban/xray_config.json"
