### GuardHelper environment variables configuration file [owner @ErfJab]


#### API SETTINGS
### API_HOST: The host address on which the API will listen. Default is "0.0.0.0"
API_HOST="0.0.0.0"
### API_PORT: The port number on which the API will listen. Default is 99
API_PORT=99
### API_SSL_CERTFILE: The file path to the SSL certificate for secure connections. Leave empty if not using SSL.
API_SSL_CERTFILE=""
### API_SSL_KEYFILE: The file path to the SSL key for secure connections. Leave empty if not using SSL.
API_SSL_KEYFILE=""
### API_KEY: The API key for authenticating requests to the API. Make sure to set this to a secure value.
API_KEY="your_api_key_here"


#### DATABASE SETTINGS
### Format: "user:pass@tcp(host:port)/dbname"
### Example: "root:WERdsfkjnrwe@tcp(127.0.0.1:3306)/marzban"
### Note: Make sure to replace 'user', 'pass', 'host', 'port', and 'dbname' with your actual database credentials and information.
DATABASE_URL="user:pass@tcp(127.0.0.1:3306)/marzban"


#### ADMIN SETTINGS
### Format: integer ID of the admin in the database
### Example: 1
### Note: Make sure to set this to the correct admin ID from your database to ensure proper access control.
ADMIN_ID=0


#### XRAY SETTINGS
### Format: Absolute path to the Xray configuration file
### Example: "/var/lib/marzban/xray_config.json"
### Note: Make sure to set this to the correct path where your Xray configuration file is located on your system.
XRAY_CONFIG_PATH="/var/lib/marzban/xray_config.json"
